{% extends "layout_home.html" %}
{% block title %}CÔNG TY CỔ PHẦN TƯ VẤN VÀ ĐÀO TẠO ACT LIFE{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="heroslider-area in-sliderarrow">
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-1.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-9 col-lg-8">
               <div class="heroslider-content">
                  <h1><span>Để có một khoản tiền </span> tương lai tốt hơn</h1>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="heroslider-roundbox roundbox">
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-mind"></i>
                     </span>
                     <h5>Kế hoạch cá nhân</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-life-insurence"></i>
                     </span>
                     <h5>Kế hoạch gia đình</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-planning"></i>
                     </span>
                     <h5>Kế hoạch nhóm</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-businessman"></i>
                     </span>
                     <h5>Kế hoạch khác</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-3.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-10">
               <div class="heroslider-content text-center">
                  <h1><span>Vì tương lai tốt hơn </span>cùng với ACT LIFE</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
</div>
<main class="page-content">
   <!-- Features Area -->
  
   
   <!-- Blog Area -->
   <div class="services-area in-section section-padding-lg bg-white">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="section-title text-center">
                  <h2>Bảo Việt Nhân thọ rút ngắn thời gian giải quyết quyền lợi bảo hiểm rủi ro xuống 15 phút</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <!-- Single Service -->
            <div class="col-lg-12">
               <div class="chucnang_chitiet noidungchitiet">
   <span class="giatri">
      <p><strong>Từ ngày 20/08/2018, tiếp tục cuộc cách mạng rút ngắn thời gian giải quyết chi trả quyền lợi bảo hiểm, nâng cao hơn nữa chất lượng dịch vụ và trải nghiệm dành cho khách hàng, Tổng Công ty Bảo Việt Nhân thọ đã chính thức triển khai Quy trình giải quyết quyền lợi bảo hiểm 15 phút trên toàn quốc. Đây là thời gian giải quyết ngắn nhất trên thị trường được công bố hiện nay.<br><br></strong></p>
      <p>Sau khi thực hiện thành công tại một số tỉnh thành, ngày 20/08/2018, Bảo Việt Nhân thọ đã chính thức triển khai quy trình giải quyết quyền lợi bảo hiểm 15 phút tại 76 công ty thành viên trên toàn quốc. Quy trình này được áp dụng đối với các hồ sơ yêu cầu giải quyết quyền lợi bảo hiểm rủi ro có số tiền chi trả lên đến 100 triệu đồng cho các trường hợp trợ cấp nằm viện, chi phí phẫu thuật, bệnh hiểm nghèo, tử vong có phạm vi áp dụng cụ thể. Đặc biệt, số tiền chi trả sẽ không chỉ giới hạn ở mức 100 triệu đồng đối với trường hợp khách hàng bị rủi ro tử vong mà đã được giải quyết quyền lợi bệnh hiểm nghèo trước đó.</p>
      <p><img style="float: none; display: block; margin-left: auto; margin-right: auto;" src="/static/home/images/bo_vit_nhn_th_rt_ngn_thi_gian_gii_quyt_quyn_li_bo_him_ri_ro_xung_15_pht2018082313083505.jpg" alt="bo_vit_nhn_th_rt_ngn_thi_gian_gii_quyt_quyn_li_bo_him_ri_ro_xung_15_pht2018082313083505" data-mce-src="files/assets/News/bo_vit_nhn_th_rt_ngn_thi_gian_gii_quyt_quyn_li_bo_him_ri_ro_xung_15_pht2018082313083505.jpg"><br></p>
      <p>ũng với mục tiêu không ngừng nâng cao chất lượng dịch vụ khách hàng, trong dòng chảy công nghệ 4.0, Bảo Việt Nhân Thọ đã nghiên cứu và ứng dụng những công nghệ mới, đảm bảo phục vụ khách hàng nhanh chóng hơn bao gồm đa dạng hình thức thanh toán phí bảo hiểm, ứng dụng công nghệ thông minh tự động &nbsp;vào quy trình phát hành hợp đồng và giải quyết quyền lợi bảo hiểm, đầu tư xây dựng các kênh phục vụ khách hàng thuận tiện hơn … Tới đây, ứng dụng quản lý hợp đồng MyBVLife dành cho khách hàng trên điện thoại thông minh sẽ được ra mắt. Bên cạnh đó, những giải pháp quản trị và thông tin nội bộ tiên tiến cũng được Bảo Việt Nhân Thọ triển khai tạo ra kênh kết nối thông suốt của mạng lưới nhân viên toàn hệ thống, nhằm nâng cao hiệu quả hoạt động.<br><br></p>
      <p>Tháng 5/2018 vừa qua, Hội đồng khoa học viện doanh nghiệp Việt Nam, dưới sự chấp thuận giám sát của Tổ chức Chứng nhận Quốc tế Inter Conformity (Đức) và tổ chức liên kết thương mại toàn cầu Global GTA (Anh)&nbsp; đã đưa ra báo cáo độc lập Chỉ Số Tín Nhiệm Định Chuẩn TBI 2018 (Trust Business Index 2018), ghi nhận Bảo Việt Nhân thọ là&nbsp;doanh nghiệp Việt đạt tiêu chuẩn quốc tế&nbsp;và là doanh nghiệp bảo hiểm nhân thọ duy nhất trên thị trường đạt được hai chứng nhận “Nhà Cung Cấp Chất Lượng” và “Năng Suất Chất Lượng”, bao gồm các tiêu chí (1) Áp dụng các quy trình kiểm soát chất lượng; (2) Trách nhiệm với cộng đồng; (3) Tiết kiệm và tránh lãng phí, nâng cao năng suất; (4) Đổi mới công nghệ.</p>
      <p><br data-mce-bogus="1"></p>
   </span>
</div>   
            </div>
            
         </div>
      </div>
   </div>
   <!--// Blog Area -->
</main>
{% endblock %}