{% extends "layout_home.html" %}
{% block title %}CÔNG TY CỔ PHẦN TƯ VẤN VÀ ĐÀO TẠO ACT LIFE{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="heroslider-area in-sliderarrow">
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-1.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-9 col-lg-8">
               <div class="heroslider-content">
                  <h1><span>Để có một khoản tiền </span> tương lai tốt hơn</h1>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="heroslider-roundbox roundbox">
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-mind"></i>
                     </span>
                     <h5>Kế hoạch cá nhân</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-life-insurence"></i>
                     </span>
                     <h5>Kế hoạch gia đình</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-planning"></i>
                     </span>
                     <h5>Kế hoạch nhóm</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-businessman"></i>
                     </span>
                     <h5>Kế hoạch khác</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-3.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-10">
               <div class="heroslider-content text-center">
                  <h1><span>Vì tương lai tốt hơn </span>cùng với ACT LIFE</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
</div>
<main class="page-content">
   <!-- Features Area -->
  
   
   <!-- Blog Area -->
   <div class="services-area in-section section-padding-lg bg-white">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="section-title text-center">
                  <h2>Bảo hiểm giáo dục - top 4 bảo hiểm nhân thọ được người Việt lựa chọn nhiều nhất</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <!-- Single Service -->
            <div class="col-lg-12">
               <div class="chucnang_chitiet noidungchitiet">
   <span class="giatri">
      <p><strong>Bảo hiểm giáo dục: Tham gia càng sớm càng tốt</strong></p>
      <p>Theo báo cáo của tập đoàn nghiên cứu thị trường W&amp;S của Nhật, tại Việt Nam, bảo hiểm giáo dục là một trong những dòng sản phẩm nhận được nhiều sự quan tâm tại thị trường Châu Á. Trong khi nhiều gia đình sẵn sàng vay vốn để đầu tư cho cho con theo đuổi các chương trình học quốc tế hay đi du học sang các nước có nền giáo dục tiên tiến, nhiều "gia đình hạt nhân" thuộc thế hệ 8X lại có thêm chọn lựa khá an toàn và khôn ngoan. Đó là tham gia các gói bảo hiểm giáo dục dài hạn từ khi con còn rất nhỏ, thậm chí là ngay trong giai đoạn mang thai. Lựa chọn này thể hiện lối tư duy hiện đại, khả năng làm chủ cuộc sống, nhìn xa trông rộng để "đi đường dài" trên hành trình nuôi dạy con cái.<br><br></p>
      <p><img style="float: none; display: block; margin-left: auto; margin-right: auto;" src="/static/home/images/photo11539847350094984568161.jpg" alt="photo11539847350094984568161"><br></p>
      <p>Chị Lan Phương, 29 tuổi, đang mang thai con đầu lòng ở tháng thứ 4, chia sẻ: "Vợ chồng tôi chủ động cân đối kế hoạch chi tiêu ngay khi biết nhà sẽ có thêm thành viên và bắt đầu tham khảo các sản phẩm bảo hiểm giáo dục cho con từ lúc này. Hai vợ chồng đã tìm hiểu một số gói sản phẩm trên thị trường. Các sản phẩm này đều hướng đến mục tiêu đầu tiên là bảo vệ, rồi sau đó mới là tiết kiệm, đầu tư để đảm bảo con có một nguồn ngân sách ổn định riêng dành cho việc học". Cũng theo chị Phương, những gói bảo hiểm này đánh đúng tâm lý của các ông bố bà mẹ trẻ: tất cả nhu cầu quan trọng đều được tích hợp trong một hợp đồng bảo hiểm dành riêng cho mục tiêu lâu dài và tốn kém là nuôi dạy con cái.<br><br></p>
      <p>Sự lựa chọn của chị Phương phản ánh phong cách sống điển hình của nhiều gia đình trẻ hiện nay: năng động, hiểu biết, luôn chủ động lập kế hoạch và tập trung cho lợi ích lâu dài. Chị Phương cho biết thêm, nhiều bạn bè của chị đã tham gia bảo hiểm nhân thọ (BHNT), bảo hiểm sức khỏe từ rất sớm và chia sẻ rằng họ cảm thấy yên tâm hơn hẳn khi biết chắc bản thân và gia đình đang được bảo vệ.<br><br></p>
      <p><strong>Đầu tư cho giáo dục không bao giờ là muộn<br><br></strong></p>
      <p>Bên cạnh đó, một số người xem bảo hiểm giáo dục như "của để dành" cho con cái. Anh Duy Hải, quản lý cấp trung của một công ty vận tải tại TP. Hồ Chí Minh, cho biết: "Trước đây tôi rất tự tin về thu nhập của mình, mỗi tháng cũng tích lũy được một khoản tiền, nhưng càng ngày vật giá và nhu cầu chi tiêu càng tăng, rất dễ lạm vào quỹ để dành cho con. Sau đó, tôi được một anh đồng nghiệp tư vấn về phương án tham gia bảo hiểm giáo dục cho hai con. Nếu vợ chồng tôi khỏe mạnh hoài để tiếp tục kiếm tiền lo cho con ăn học thì khoản đầu tư vào hai hợp đồng bảo hiểm kia có thể xem như quà tặng để con lập nghiệp. Còn nhỡ có rủi ro gì xảy đến với tôi hoặc vợ, ít ra vẫn còn nguồn quỹ dự phòng để việc học hành của con không bị gián đoạn. Với vợ chồng tôi, gia tài quý nhất để lại cho các con là nền tảng học vấn tốt, nguồn tài chính chỉ cần vừa đủ làm hành trang cho con vào đời".<br><br></p>
      <p>Đáp lại nhu cầu đa dạng của các bậc phụ huynh, nhiều doanh nghiệp BHNT đã làm dày thêm danh mục sản phẩm của mình bằng các gói bảo hiểm giáo dục với nhiều quyền lợi ưu việt. Cũng như các sản phẩm BHNT, thời hạn hợp đồng của sản phẩm bảo hiểm giáo dục thường trên 10 năm, vì vậy, lời khuyên dành cho các bậc phụ huynh là nên xác định rõ khả năng và nhu cầu, tham gia càng sớm thì thời gian được bảo vệ càng dài, lựa chọn những công ty bảo hiểm uy tín, lập ra lộ trình đóng phí cụ thể và yêu cầu được tư vấn rõ ràng, chi tiết. Một khi chọn được một sản phẩm bảo hiểm giáo dục phù hợp cũng đồng nghĩa rằng tương lai học vấn của con bạn sẽ luôn được đảm bảo; đồng thời, bạn cũng được san sẻ phần nào áp lực phải cho con những điều kiện học tập tốt nhất trong quãng thời gian dài.</p>
      <p><br data-mce-bogus="1"></p>
   </span>
</div>   
            </div>
            
         </div>
      </div>
   </div>
   <!--// Blog Area -->
</main>
{% endblock %}