{% extends "layout_home.html" %}
{% block title %}CÔNG TY CỔ PHẦN TƯ VẤN VÀ ĐÀO TẠO ACT LIFE{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="heroslider-area in-sliderarrow">
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-1.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-9 col-lg-8">
               <div class="heroslider-content">
                  <h1><span>Để có một khoản tiền </span> tương lai tốt hơn</h1>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="heroslider-roundbox roundbox">
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-mind"></i>
                     </span>
                     <h5>Kế hoạch cá nhân</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-life-insurence"></i>
                     </span>
                     <h5>Kế hoạch gia đình</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-planning"></i>
                     </span>
                     <h5>Kế hoạch nhóm</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-businessman"></i>
                     </span>
                     <h5>Kế hoạch khác</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-3.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-10">
               <div class="heroslider-content text-center">
                  <h1><span>Vì tương lai tốt hơn </span>cùng với ACT LIFE</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
</div>
<main class="page-content">
   <!-- Features Area -->
  
   
   <!-- Blog Area -->
   <div class="services-area in-section section-padding-lg bg-white">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="section-title text-center">
                  <h2>Giải pháp hỗ trợ phát triển tương lai và an tâm chống bệnh hiểm nghèo</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <!-- Single Service -->
            <div class="col-lg-12">
               <div class="chucnang_chitiet noidungchitiet">
   <span class="giatri">
      <p><span class="generic-body-text-rte2"><span class="generic-subtitle-content-rte">Để phòng ngừa trước những khó khăn không lường trước, khi mắc các bệnh hiểm nghèo, cần có một giải pháp bảo vệ toàn diện, sản phẩm Manulife – Cuộc Sống Tươi Đẹp vừa "trình làng" thị trường bảo hiểm...<br></span></span><br></p>
      <p><img style="float: none; display: block; margin-left: auto; margin-right: auto;" src="/static/home/images/a.jpg" alt="a"><br data-mce-bogus="1"></p>
      <p><span class="generic-body-text-rte2">Một thống kê của chuyên ngành của nước ta cho biết, ước tính đến 73% ca tử vong là do các căn bệnh không lây nhiễm, chủ yếu là ung thư, tim mạch… Điều trị các căn bệnh này không chỉ khó khăn, mà còn vượt quá khả năng tài chính của nhiều gia đình.<br></span><br></p>
      <p><span class="generic-body-text-rte2">Một khảo sát trên 2.000 bệnh nhân tại 3 bệnh viện điều trị ung thư lớn nhất Việt Nam cho thấy, có 22% bệnh nhân gặp khó khăn về kinh tế sau một năm phát hiện khối u.&nbsp;<br><br></span></p>
      <p><span class="generic-body-text-rte2"><img style="float: none; display: block; margin-left: auto; margin-right: auto;" src="/static/home/images/b.jpg" alt="b"><br data-mce-bogus="1"></span></p>
      <p><span class="generic-body-text-rte1">Để phòng ngừa trước những khó khăn này, cần có một giải pháp bảo vệ toàn diện để nếu không may mắc bệnh hiểm nghèo, có thể an tâm điều trị mà không vướng bận âu lo. Xuất phát từ nhu cầu này, Manulife vừa ra mắt sản phẩm&nbsp;<strong>Manulife – Cuộc Sống Tươi Đẹp</strong>&nbsp;nhằm hỗ trợ tài chính cho khách hàng ngay từ giai đoạn đầu tiên nếu chẳng may mắc bệnh hiểm nghèo. Đây là giải pháp toàn diện giúp khách hàng chủ động đối phó với rủi ro và có nền tảng tài chính vững vàng để vượt qua nghịch cảnh trong cuộc sống.<br><br></span></p>
      <p><span class="generic-body-text-rte1">Với thời hạn đóng phí ngắn nhưng bảo vệ đến 99 tuổi, cùng danh mục bảo hiểm lên đến&nbsp;<strong>134&nbsp;</strong>bệnh lý nghiêm trọng,&nbsp;<strong>Manulife – Cuộc Sống Tươi Đẹp&nbsp;</strong>giúp khách hàng an tâm về tài chính nếu rủi ro mắc bệnh hiểm nghèo ở bất cứ giai đoạn nào, đồng thời giảm bớt gánh nặng cho người thân trong thời gian phục hồi sức khỏe, bởi tổng quyền lợi nhận được lên tối đa 300% số tiền bảo hiểm.<br><br></span></p>
      <p><span class="generic-body-text-rte1">Bên cạnh đó, khách hàng sẽ nhận thêm 25% số tiền bảo hiểm nếu mắc phải bệnh lý nghiêm trọng của trẻ em hoặc theo giới tính. Đến năm 75 tuổi, nếu vẫn có sức khỏe tốt, khách hàng sẽ nhận được quà tặng đặc biệt bằng tiền mặt lên đến 100% số tiền bảo hiểm từ Manulife.<br><br></span></p>
      <p><span class="generic-body-text-rte1">Đi kèm sản phẩm này là các sản phẩm bổ trợ có mức phí cạnh tranh nhằm gia tăng bảo vệ tài chính toàn diện cho cả gia đình trước các rủi ro như Tử vong và Thương tật do tai nạn, Bệnh lý nghiêm trọng, Thương tật toàn bộ &amp; vĩnh viễn, Tử vong; ngoài ra còn hỗ trợ các chi phí chăm sóc sức khỏe và các quyền lợi hỗ trợ đóng phí khác.<br><br></span></p>
      <p><span class="generic-body-text-rte1">Bên cạnh đó, một sản phẩm bảo hiểm giáo dục linh hoạt cạnh tranh trên thị trường nhằm bảo vệ cho tương lai học vấn cho con yêu, với những quyền lợi hấp dẫn cũng vừa được công ty giới thiệu với tên gọi&nbsp;<strong>Manulife - Chắp Cánh Tương Lai.<br><br></strong></span></p>
      <p><span class="generic-body-text-rte1">Sản phẩm có thể bảo vệ cả mẹ bầu và con trước những rủi ro không lường trước ngay từ trong suốt thai kỳ, cũng như tiếp tục bảo vệ và đảm bảo tương lai cho con trẻ trong quá trình khôn lớn và trưởng thành. Sản phẩm này giúp bảo đảm quỹ học vấn tương đương&nbsp;<strong>150%</strong>&nbsp;số tiền bảo hiểm tại những năm cuối hợp đồng, giúp trẻ có thể tận hưởng một nền giáo dục tiên tiến như mong muốn.<br><br></span></p>
      <p><span class="generic-body-text-rte1">Đặc biệt, nếu nằm trong top 10 các sinh viên xuất sắc của ngành khi tốt nghiệp đại học, trẻ sẽ nhận được quyền lợi đăng khoa hấp dẫn lên đến 100 triệu đồng như phần thưởng ghi dấu những năm tháng phấn đấu học tập.<br><br></span></p>
      <p><span class="generic-body-text-rte1">Ngoài ra, quyền lợi miễn đóng phí và hỗ trợ tài chính sẽ đảm bảo hợp đồng vẫn tiếp tục có hiệu lực, tương lai của con yêu vẫn được bảo vệ nếu chẳng may cha mẹ gặp rủi ro.</span></p>
   </span>
</div>   
            </div>
            
         </div>
      </div>
   </div>
   <!--// Blog Area -->
</main>
{% endblock %}