{% extends "layout_home.html" %}
{% block title %}CÔNG TY CỔ PHẦN TƯ VẤN VÀ ĐÀO TẠO ACT LIFE{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="heroslider-area in-sliderarrow">
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-1.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-9 col-lg-8">
               <div class="heroslider-content">
                  <h1><span>Để có một khoản tiền </span> tương lai tốt hơn</h1>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="heroslider-roundbox roundbox">
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-mind"></i>
                     </span>
                     <h5>Kế hoạch cá nhân</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-life-insurence"></i>
                     </span>
                     <h5>Kế hoạch gia đình</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-planning"></i>
                     </span>
                     <h5>Kế hoạch nhóm</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-businessman"></i>
                     </span>
                     <h5>Kế hoạch khác</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-3.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-10">
               <div class="heroslider-content text-center">
                  <h1><span>Vì tương lai tốt hơn </span>cùng với ACT LIFE</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
</div>
<main class="page-content">
   <!-- Features Area -->
  
   
   <!-- Blog Area -->
   <div class="services-area in-section section-padding-lg bg-white">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="section-title text-center">
                  <h2>Giới Thiệu Về ACT LIFE</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <!-- Single Service -->
            <div class="col-lg-12">
               <div class="chucnang_chitiet noidungchitiet">
   <span class="giatri">
      
      <p><span class="generic-body-text-rte1">Chúng ta tôi vô cùng YÊU QUÝ các bạn” các bạn là những người “ vô cùng quan trọng với chúng tôi. Các bạn chính là ông chủ, bà chủ của ACT LIFE. Ngay bây giờ chúng tôi muốn bạn hiểu điều đó. Khi hiểu được điều đó chúng tôi tin rằng các bạn sẽ làm việc bằng cả TÌNH YÊU và ĐAM MÊ của mình. Bởi lẽ ACT LIFE chính là đứa con yêu quý của bạn, ACT LIFE chính là ngôi nhà của bạn, đó cũng chính là nội dung mà chúng tôi muốn truyền tải tới các bạn trong 4 ngày tại ĐÀ NẴNG. Ngay bây giờ chúng tôi muốn các bạn ĐỊNH VỊ vị trí của mình tại ACT LIFE.</span></p>
      
   </span>
</div>   
            </div>
            
         </div>
      </div>
   </div>
   <!--// Blog Area -->
</main>
{% endblock %}