{% extends "layout_home.html" %}
{% block title %}CÔNG TY CỔ PHẦN TƯ VẤN VÀ ĐÀO TẠO ACT LIFE{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="heroslider-area in-sliderarrow">
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-1.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-xl-9 col-lg-8">
               <div class="heroslider-content">
                  <h1><span>Để có một khoản tiền </span> tương lai tốt hơn</h1>
               </div>
            </div>
            <div class="col-lg-3">
               <div class="heroslider-roundbox roundbox">
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-mind"></i>
                     </span>
                     <h5>Kế hoạch cá nhân</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-life-insurence"></i>
                     </span>
                     <h5>Kế hoạch gia đình</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-planning"></i>
                     </span>
                     <h5>Kế hoạch nhóm</h5>
                  </div>
                  <div class="roundbox-block">
                     <span class="roundbox-icon">
                     <i class="flaticon-businessman"></i>
                     </span>
                     <h5>Kế hoạch khác</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
   <!-- Hero Slider Single -->
   <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="/static/home/assets/images/bg/background-image-3.jpg"
      data-secondary-overlay="8">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-10">
               <div class="heroslider-content text-center">
                  <h1><span>Vì tương lai tốt hơn </span>cùng với ACT LIFE</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--// Hero Slider Single -->
</div>
<main class="page-content">
   <!-- Features Area -->
  
   
   <!-- Blog Area -->
   <div class="services-area in-section section-padding-lg bg-white">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="section-title text-center">
                  <h2>Sao phải băn khoăn gửi tiết kiệm hay mua bảo hiểm khi bản chất không hề giống nhau?</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <!-- Single Service -->
            <div class="col-lg-12">
              <div class="chucnang_chitiet noidungchitiet">
               <span class="giatri">
                  <p><span class="generic-body-text-rte"><span class="generic-subtitle-content-rte"><strong>Vì sao phải đầu tư Bảo hiểm Nhân thọ (BHNT) khi việc gửi tiết kiệm ngân hàng dường như mang lại lãi suất cao hơn cùng những lợi ích nhìn thấy rõ ràng hơn? Bài viết này sẽ giúp bạn thấu hiểu bản chất của mỗi loại hình, từ đó có lời giải đáp cho câu hỏi trên.</strong><br><br></span></span></p>
                  <p><span class="generic-body-text-rte">Có một điểm chung là cả ngân hàng và BHNT đều hoạt động hợp pháp dưới sự giám sát trực tiếp của Bộ Tài chính và Chính phủ. Tuy vậy, sự khác nhau ban đầu của 2 loại hình này thể hiện ngay ở cách sử dụng vốn để đầu tư.<br><br></span></p>
                  <p><span class="generic-body-text-rte">Trong khi ngân hàng huy động vốn của người dân để đầu tư, kinh doanh chia lãi, ổn định dòng tiền và duy trì tăng trưởng kinh tế thì BHNT tạo sự ổn định xã hội thông qua việc giảm thiểu tối đa sự lo lắng cho bên mua bảo hiểm; giảm gánh nặng ngân sách quốc gia trong việc chăm lo người già và những người phụ thuộc khi người trụ cột trong gia đình gặp những rủi ro trong cuộc sống; huy động vốn để đầu tư cho những dự án trung và dài hạn nhằm góp phần phát triển đất nước. Hơn 20 năm qua, đã có hơn 20 triệu lượt người chọn tham gia các sản phẩm BHNT.<br><br></span></p>
                  <p><span class="generic-body-text-rte"><img style="float: none; display: block; margin-left: auto; margin-right: auto;" src="/static/home/images/1.jpg" alt="1" data-mce-src="files/assets/News/1.jpg"><br></span></p>
                  <h2><span class="generic-subtitle-content-rte2"><span class="generic-body-text-rte1"><span class="generic-title-content-rte">Ngân hàng: tiết kiệm lấy lãi suất; bảo hiểm: tiết kiệm được bảo vệ<br></span></span><br></span></h2>
                  <p><span class="generic-body-text-rte1">Xét về bản chất, BHNT và ngân hàng là hai lựa chọn khác hẳn nhau. Nếu với ngân hàng, khách hàng có thể gửi tiền để nhận lãi từ ngân hàng thì bảo hiểm lại là công cụ bảo vệ tài chính cho gia đình: bù đắp các mất mát tài chính nếu chẳng may người trụ cột gặp rủi ro bất ngờ, duy trì mức sống cho gia đình và chuẩn bị nguồn vốn kinh doanh trong tương lai. Thêm vào đó, tiết kiệm cần có thời gian lâu dài để tạo ra tài sản, còn BHNT lại giúp khách hàng tạo được một khoản tài chính dự phòng trong trường hợp có bất trắc xảy ra.<br><br></span></p>
                  <p><span class="generic-body-text-rte1">Để thấy rõ sự khác biệt, hãy xem câu chuyện về 2 người bạn thân là anh A gửi tiền vào ngân hàng và anh B mua BHNT với cùng số tiền 20 triệu mỗi năm. Sau 2 năm, không may 2 anh A và B cùng qua đời trong một tai nạn giao thông và đây là lúc người thân trong gia đình cần tới khoản tiền đã “tiết kiệm”. Người nhà anh A nhận về từ ngân hàng 40 triệu cộng thêm một ít lãi không đáng kể. Trong khi đó, người nhà anh B nhận về 2 tỷ đồng đền bù theo hợp đồng BHNT(1). Từ đây để thấy, khi rủi ro xảy ra thì ý nghĩa của BHNT sẽ được thể hiện rõ nét nhất, với khả năng mang tới số tiền lớn cho khách hàng, điều mà các loại hình đầu tư khác với tính chất khác sẽ không thể hỗ trợ tương tự được.</span></p>
                  <p><span class="generic-body-text-rte1"><br><img style="float: none; display: block; margin-left: auto; margin-right: auto;" src="/static/home/images/2a.jpg" alt="2a" data-mce-src="files/assets/News/2a.jpg"><br></span></p>
                  <p><span class="generic-body-text-rte1">rong những trường hợp rủi ro không mong muốn xảy ra, số tiền khách hàng nhận về từ công ty bảo hiểm sẽ lớn hơn rất nhiều so với số tiền đã gửi vào. Còn với ngân hàng, khách hàng chỉ nhận về số tiền tương ứng số đã gửi cộng thêm lãi suất.<br><br></span></p>
                  <p><span class="generic-body-text-rte1"><span class="generic-title-content-rte">Ngân hàng: Gửi dễ, rút dễ; Bảo hiểm: Gửi khó, rút khó<br><br></span></span></p>
                  <p><span class="generic-body-text-rte1">Thực chất, khá nhiều người vẫn đánh đồng BHNT với gửi tiết kiệm lấy lãi suất. Nếu là gửi tiết kiệm, khách hàng dễ có tâm lý “hôm nay tôi thích thì tôi tiết kiệm, ngày mai không thích tôi sẽ rút tiền về”. Nhưng BHNT không phải là gửi tiết kiệm, lại càng không phải 1 kênh đầu tư sinh lời cao. BHNT là câu chuyện nghiêm túc về tình thương yêu và trách nhiệm đối với gia đình nhằm đảm bảo các ước mơ của những người thân yêu được thực hiện.<br><br></span></p>
                  <p><span class="generic-body-text-rte1">Nếu bạn có tiền tiết kiệm nhàn rỗi, bạn có thể dễ dàng đến bất cứ ngân hàng nào gửi tiết kiệm, không kèm theo bất cứ một điều kiện nào. BHNT thì không dễ dàng như vậy: bạn chỉ được chấp nhận bảo hiểm khi đáp ứng các yêu cầu về sức khỏe và điều kiện kinh tế. Sau khi mua bảo hiểm, bạn cần phải đóng tiền theo thời hạn được quy định để duy trì tình trạng được bảo vệ của mình. Nếu nói gửi tiền vào bảo hiểm cũng là 1 cách tiết kiệm để không tiêu tiền đi thì nói chính xác hơn phải là tiết kiệm có ràng buộc. Gửi hay rút đều phải có kỷ luật, theo thời hạn đã thống nhất với công ty bảo hiểm.<br><br></span></p>
                  <p><span class="generic-body-text-rte1">Trong những năm đầu tiên, chủ yếu phí bảo hiểm được trích lập vào Quỹ dự phòng để sẵn sàng chi trả đền bù khi người tham gia gặp các sự kiện bảo hiểm, Quỹ này được Bộ Tài chính quản lý và công ty BHNT không được sử dụng, nhằm đảm bảo quyền lợi của khách hàng đến khi đáo hạn. Giá trị hoàn lại được hình thành từ năm thứ 3 trở đi và bắt đầu tích lãi, sinh lời. Liên tục trong các năm, giá trị hoàn lại sẽ lớn dần lên nhờ việc chia lãi đầu tư để tiến đến Điểm hòa vốn.<br><br></span></p>
                  <p><span class="generic-body-text-rte1">Khi hiểu đúng thì rất ít khách hàng lựa chọn việc hủy ngang lấy tiền về, bởi từ thời điểm kết thúc đóng phí khách hàng vẫn được bảo vệ mà không cần phải đóng tiền các năm tiếp theo. Ngoài ra, BHNT còn có một tính năng tuyệt vời đó là nếu khách hàng đóng phí đều đặn, có kỉ luật liên tục theo thỏa thuận và không hủy hợp đồng giữa chừng thì dựa trên cơ chế lãi kép sẽ hình thành giá trị tích lũy lớn năm khách hàng tuổi già, hưu trí. Chính vì lợi ích này vô tình làm khách hàng hiểu nhầm BHNT cũng giống như gửi tiết kiệm tại ngân hàng, vì vậy mới có những câu chuyện khách hàng hủy ngang hợp đồng giữa chừng chỉ vì… không muốn tiết kiệm nữa.<br><br></span></p>
                  <p><span class="generic-title-content2-rte">Giá trị bảo vệ làm nên ý nghĩa của Bảo hiểm Nhân thọ<br><br></span></p>
                  <p><span class="generic-body-text-rte1">Lại có quan điểm “Tôi tham gia bảo hiểm chả được quyền lợi gì cả!”. Sự thật là không ai mong muốn khi tham gia BHNT để rồi nhận quyền lợi đền bù tử vong, bệnh hiểm nghèo, tai nạn, ốm đau nằm viện nhưng chính việc chúng ta không biết khi nào những rủi ro đó sẽ xảy ra nên việc trang bị hợp đồng bảo hiểm có sẵn cho mỗi gia đình là ưu tiên cần được thực hiện trước tiên.<br><br></span></p>
                  <p><span class="generic-body-text-rte1">Khi tham gia BHNT, nếu chúng ta khỏe mạnh và không gặp những rủi ro về tính mạng thì về già sẽ có số tiền tích lũy tương đối lớn giúp đảm bảo cuộc sống hưu trí tốt hơn hoặc là một khoản để lại ý nghĩa cho con cháu. Đây có thể coi như món quà mà khách hàng nhận được sau nhiều năm sống khỏe và may mắn khi không gặp rủi ro lớn trong cuộc sống, cũng là nền tảng để thực hiện những ước mơ, nguyện vọng đã ấp ủ suốt nhiều năm lao động. Ngược lại, nếu không may gặp rủi ro thì khách hàng sẽ nhận được khoản tiền lớn để chữa trị bệnh tật, chi phí thuốc men hoặc đền bù giá trị sinh mạng cho người trụ cột.<br><br></span></p>
                  <p><span class="generic-body-text-rte1">BHNT mang trên vai nhiều sứ mệnh cao cả: đem đến sự thanh thản trong cuộc sống, tương lai cho trẻ thơ, một sự an tâm tuyệt đối về mặt tài chính, và đó chính là bức thông điệp tình yêu thân thương nhất dành cho mỗi gia đình Việt Nam. Vì vậy, hãy tham gia BHNT vì những giá trị bảo vệ đầy nhân văn khi rủi ro chứ đừng đơn thuần vì muốn gửi tiết kiệm bạn nhé!</span></p>
               </span>
            </div> 
            </div>
            
         </div>
      </div>
   </div>
   <!--// Blog Area -->
</main>
{% endblock %}