<!doctype html> 
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      
      <title>ACT-LIFE</title>
      <link rel="icon" type="image/x-icon" href="/static/home/images/logo/logo.png">
      <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" >

      <link href="/static/assets/css/account.css" rel="stylesheet" >
      
   </head>
   <body>
      
      <script src="/static/assets/vendors/jquery-3.1.1.min.js" type="text/javascript"></script> <script src="/static/assets/vendors/bootstrap-notify.js"></script> <script src="/static/assets/vendors/sweetalert/js/sweetalert2.min.js"></script> <script src="/static/assets/js/demo.js"></script> {% block js %}
      {% endblock %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <script type="text/javascript"> showNotification('top','right','{{ message.msg }}', '{{ message.type }}'); function showNotification(from, align, msg, type){var color = Math.floor((Math.random() * 6) + 1); $.notify({icon: "notifications", message: msg },{type: type, timer: 3000, placement: {from: from, align: align } }); } </script> {% endfor %}
      {% endif %}
      {% endwith %}
     
      <div class="vid-container">
        <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
            <source src="/static/assets/leif_eliasson--glaciartopp.webm" type="video/webm">
        </video>
        <div class="inner-container">
         <div class="sub-main-w3">
            <div class="bg-content-w3pvt">
               <div class="top-content-style">
                  <img src="/static/assets/img/logos.png" width="120px" alt="">
               </div>
               <form name="login" action="/auth/login" method="POST">
                  <p class="legend">Đăng nhập tài khoản<span class="fa fa-hand-o-down"></span></p>
                  <div class="input">
                     <input type="email" placeholder="Email" name="email" required="">
                  </div>
                  <div class="input">
                     <input type="password" placeholder="Password" name="password" required="">
                  </div>
                  <p class="text-center"><a href="/auth/reset-password">Quên mật khẩu?</a></p>
                  <button type="submit" class="btn submit">
                     Đăng nhập
                  </button>
               </form>
            </div>
         </div>
        </div>
      </div>
   </body>
</html>