

<div class="sidebar" data-background-color="brown" data-active-color="danger">
   <div class="logo">
      <a href="/account/dashboard" class="simple-text">
      <img src="/static/home/images/logo/logo.png" alt="" style="    width: 120px; margin-top: 10px">
      </a>
   </div>
   <div class="logo logo-mini">
      <a href="#" class="simple-text">
      <img src="/static/home/images/logo/logo.png" alt="" style=" width: 70px; ">
      </a>
   </div>
   <div class="sidebar-wrapper">
    <div class="overlay">
    <img class="img-loading" src="/static/assets/img/recycle-spinner.gif">
  </div>
      
      <ul class="nav">
      
      {% if data.menu == 'dashboard' %}
        <li class="active">
            <a href="/account/dashboard">
               <i class="ti-home"></i>
               <p>Trang chủ</p>
            </a>
         </li>
     {% else %}
       <li>
            <a href="/account/dashboard">
               <i class="ti-home"></i>
               <p>Trang chủ</p>
            </a>
         </li>
     {% endif %}
     
     
      {% if data.menu == 'refferal' %}
     <li  class="active">
        <a  href="/account/refferal" >
          <i class="ti-anchor"></i>
          <p>Thành viên F1
            
          </p>
        </a>
        
      </li>
      {% else %}
      <li  class="">
        <a  href="/account/refferal" >
          <i class="ti-anchor"></i>
          <p>Thành viên F1
          </p>
        </a>
        
      </li>
      {% endif %}

      {% if data.menu == 'personal' %}
     <li  class="active">
        <a  href="/account/personal" >
          <i class="ti-anchor"></i>
          <p>Cây hệ thống
            
          </p>
        </a>
        
      </li>
      {% else %}
      <li  class="">
        <a  href="/account/personal" >
          <i class="ti-anchor"></i>
          <p>Cây hệ thống
          </p>
        </a>
        
      </li>
      {% endif %}
     
        <!-- =========================== -->
      {% if data.menu == 'history' %}
        <li class="active">
            <a href="/account/history">
               <i class="ti-view-list"></i>
               <p>Lịch sử hoa hồng</p>
            </a>
         </li>
     {% else %}
       <li class="">
            <a href="/account/history">
               <i class="ti-view-list"></i>
               <p>Lịch sử hoa hồng</p>
            </a>
         </li>
     {% endif %}
        <!-- =========================== -->
      {% if data.menu == 'setting' %}
       <li class="active">
            <a href="/user/setting">
               <i class="ti-settings"></i>
               <p>Cài đặt hệ thống</p>
            </a>
         </li>
     {% else %}
       <li class="">
            <a href="/user/setting">
               <i class="ti-settings"></i>
               <p>Cài đặt hệ thống</p>
            </a>
         </li>
     {% endif %}
    <!-- {% if data.menu == 'support' %}
       <li class="active">
            <a href="/account/support">
               <i class="ti-support"></i>
               <p>Support</p>
            </a>
         </li>
     {% else %}
       <li class="">
            <a href="/account/support">
               <i class="ti-support"></i>
               <p>Support</p>
            </a>
         </li>
     {% endif %} -->
        
         <li>
            <a href="/auth/logout">
               <i class="ti-power-off"></i>
               <p>Đăng xuất</p>
            </a>
         </li>
      </ul>
   </div>
</div>


