
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" >
    <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.html" >
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>World Trade</title>

   
    <meta property="og:image" content="https://smartfva.co/static/assets/img/logo.png">

    <!-- Bootstrap core CSS     -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" >

    <!--  Paper Dashboard CSS    -->
    <link href="/static/assets/css/amaze.css" rel="stylesheet" >

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/assets/css/demo.css" rel="stylesheet" >

 
    <link href="/static/assets/vendors/sweetalert/css/sweetalert2.min.css" rel="Stylesheet" >
    <!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"awLMq1Fx9f207i", domain:"worldtrader.info",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://certify-js.alexametrics.com/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://certify.alexametrics.com/atrk.gif?account=awLMq1Fx9f207i" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->  
</head>

    <body>
    <div id="Account" class="wrapper wrapper-full-page" style="background-size: cover;
    background-repeat: no-repeat;">
        <div class="full-page login-page" >
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="content">
                <div class="container">
        <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
  
                            <form id="frmReset" name="login" action="/auth/reset-password" method="POST">
                                <div class="card card-login card-hidden">
                                      <div class="header-text text-center">
                               <!--  <h2>SmartFVA Create Account</h2> -->
                              <a href="/">
                    <img class="logo" src="/static/assets/img/smartfva-logo.png" alt="smartfva" style="height: 140px;">
                </a>
                               
                            </div>
                                    <div class="content">
                                        
                                        <div class="form-group">
                                            <label>Email Address</label>
                                            <input autofocus placeholder="Your Email" type="text" name="email" class="form-control input-no-border" required="required" aria-required="true">
                                           
                                        </div>
                                         <div class="form-group">
                                            <script src='https://www.google.com/recaptcha/api.js'></script>
                                              <div class="capcha-google text-center" style="width:100%; margin-bottom:15px;">
                                                <div class="g-recaptcha" data-sitekey="6LdT7jkUAAAAAI4CuloB7UO6FM7ue14ZbFisSR5e"></div>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <span id="submitReset" class="btn btn-warning btn-wd btn-fill">Reset</span>
                                        <hr>
                                        <p>You have account?&nbsp;&nbsp;
                                            <a href="/auth/login">
                                                <i class="ti-id-badge"></i> Login
                                            </a>
                                        </p>
                                       

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/assets/vendors/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/static/assets/vendors/bootstrap-notify.js"></script>
    <script src="/static/assets/vendors/sweetalert/js/sweetalert2.min.js"></script>
    <script src="/static/assets/js/demo.js"></script>
   
    {% block js %}
    {% endblock %}
    {% with messages = get_flashed_messages() %}
     {% if messages %}
     {% for message in messages %}
            <script type="text/javascript">
                showNotification('top','right','{{ message.msg }}', '{{ message.type }}');
                function showNotification(from, align, msg, type){
                    // type = ['','info','success','warning','danger','rose','primary'];
                    var color = Math.floor((Math.random() * 6) + 1);
                    $.notify({
                        icon: "notifications",
                        message: msg
                    },{
                        type: type,
                        timer: 3000,
                        placement: {
                            from: from,
                            align: align
                        }
                    });
                }
            </script>
            {% endfor %}
        {% endif %}
       {% endwith %}
       <script type="text/javascript">
        setTimeout(function() {
             $('#Account').css({'background-image' : 'url(/static/assets/img/smartfva-bg.jpg)'});
            $('#Account').css({'background-image' : 'url(/static/assets/img/smartfva-bg.jpg)'});
        }, 1000);
       </script>
    </body>

</html>
