{% extends "layout.html" %}
{% block title %}Trang chủ | ACT-LIFE{% endblock %}

{% block js %}

<script src="/static/assets/js/getinfo.js"></script>
<script src="/static/assets/js/main.js"></script>
<script type="text/javascript">
   $('#datatables_history').DataTable({
            "order": [[ 1, "desc" ]],
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            autoWidth: false, 
              searching: false,
              ordering: true, 
              responsive: true, 
              lengthChange: false, 
              destroy: true,
              paging: true, 
              info: false

        });
</script>
{% endblock %}
{% block main %}





<div class="row">
   
   <div class="clearfix" style="margin-top: 20px;"></div>



   <div class="col-md-6">
      <div class="card card-stats infomation">
         <div class="text-center">
            <h1><span class="ti-user"></span> Danh số các nhóm kinh doanh</h1>
         </div>
         <div class="row">
            <div class="col-md-6">
               <p class="text-center"><span class="ti-user"></span></p>
               <h3 class="text-center">Nhóm 1:</h3>
               <h4 class="text-center">SL: {{data.count_binary_left}}</h4>
               <h2 class="text-center">{{data.user['total_pd_left'] | format_number}} RL</h2>
               <p  class="text-center">Tích lũy</p>
               <p style="margin-bottom: 26px;" class="text-center">{{data.user['total_pd_lefts'] | format_number}} RL</p>
            </div>

            <div class="col-md-6">
               <p class="text-center"><span class="ti-user"></span></p>
               <h3 class="text-center">Nhóm 2:</h3>
               <h4 class="text-center">SL: {{data.count_binary_right}}</h4>
               <h2 class="text-center">{{data.user['total_pd_right'] | format_number}} RL</h2>
               <p  class="text-center">Tích lũy</p>
               <p style="margin-bottom: 26px;" class="text-center">{{data.user['total_pd_right'] | format_number}} RL</p>
            </div>
         </div>
     </div>
   </div>
   <div class="col-md-6">
      <div class="card card-stats infomation">
         <div class="text-center">
            <h1><span class="ti-user"></span> Thông tin cá nhân</h1>
         </div>
         <div class="row">
            <div class="col-md-4">
              <div class="user_detail"><span class="ti-user"></span></div>
            </div>

            <div class="col-md-8">
               <p>Tên: <b>{{data.user['fullname']}}</b></p>
               <p>Email: <b>{{data.user['email']}}</b></p>
               <p>DH: <b>{{data.danhhieu}}</b></p>
               
               <p>DSCN: <b>{{data.user['total_node'] | format_number}}</b> RL</p>
               <p>Số F1 chính: <b>{{data.count_f1}}</b></p>
               <p>% Hoa hồng nhóm: <b>{{data.percent_nhom}}</b> %</p>
               <p>Max HH nhóm: <b>{{data.max_out_level  | format_number}}</b> RL</p>
               
            </div>
         </div>
     </div>
   </div>
   <div class="col-md-12">
      <div class="card card-stats five">
         <div class="card-header card-header-warning card-header-icon">
             <div class="card-icon">
                 <img src="/static/assets/img/icon-3.png" alt="">
             </div>
             <h3 class="card-title">{{data.user['balance_wallet'] | format_number}} RL</h3>
             <p class="card-category">{{ data.user['balance_wallet'] | format_price}} VNĐ</p>
         </div>
         <div class="card-footer">
             <div class="stats">
                 <i class="fa fa-bookmark-o"></i> Số dư tài khoản
             </div>
         </div>
     </div>
   </div>

   <div class="col-md-6 col-sm-6">
      <div class="card card-stats one">
         <div class="card-header card-header-warning card-header-icon">
             <div class="card-icon">
                 <img src="/static/assets/img/icon-3.png" alt="">
             </div>
             <h3 class="card-title">{{data.user['th_wallet'] | format_number}} RL</h3>
             <p class="card-category">{{ data.user['th_wallet'] | format_price}} VNĐ</p>
         </div>
         <div class="card-footer">
             <div class="stats">
                 <i class="fa fa-bookmark-o"></i> Hoa hồng trực tiếp
             </div>
         </div>
     </div>
   </div>
   <div class="col-md-6 col-sm-6">
      <div class="card card-stats tow">
         <div class="card-header card-header-warning card-header-icon">
             <div class="card-icon">
                 <img src="/static/assets/img/icon-3.png" alt="">
             </div>
             <h3 class="card-title">{{data.user['n_wallet'] | format_number}} RL</h3>
             <p class="card-category">{{ data.user['n_wallet'] | format_price}} VNĐ</p>
         </div>
         <div class="card-footer">
             <div class="stats">
                 <i class="fa fa-bookmark-o"></i> Hoa hồng cân doanh số
             </div>
         </div>
     </div>
   </div>
   <div class="col-md-6 col-sm-6">
      <div class="card card-stats there">
         <div class="card-header card-header-warning card-header-icon">
             <div class="card-icon">
                 <img src="/static/assets/img/icon-3.png" alt="">
             </div>
             <h3 class="card-title">{{data.user['ch_wallet'] | format_number}} RL</h3>
             <p class="card-category">{{ data.user['ch_wallet'] | format_price}} VNĐ</p>
             
         </div>
         <div class="card-footer">
             <div class="stats">
                 <i class="fa fa-bookmark-o"></i> Hoa hồng thu nhập trên thu nhập
             </div>
         </div>
     </div>
   </div>

   <div class="col-md-6 col-sm-6">
      <div class="card card-stats for">
         <div class="card-header card-header-warning card-header-icon">
             <div class="card-icon">
                 <img src="/static/assets/img/icon-3.png" alt="">
             </div>
             <h3 class="card-title">{{data.user['dh_wallet'] | format_number}} RL</h3>
             <p class="card-category">{{ data.user['dh_wallet'] | format_price}} VNĐ</p>
         </div>
         <div class="card-footer">
             <div class="stats">
                 <i class="fa fa-bookmark-o"></i> Hoa hồng thưởng danh hiệu
             </div>
         </div>
     </div>
   </div>

   

<div class="row" style="display: none; padding-bottom: 100px;">
      <div class="col-md-12">
         <div id="chartContainer" style="height: 370px; width: 100%;"></div>
      </div>
   </div>

{% endblock %}