{% extends "layout.html" %}
{% block title %}{{data.title}} | ACT-LIFE{% endblock %}
{% block js %}
    <script type="text/javascript">
        $('#datatables_history').DataTable({
          "order": [
             [0, "desc"]
          ], 
          autoWidth: false, 
          searching: true,
          ordering: true, 
          responsive: true, 
          lengthChange: false, 
          destroy: true,
          paging: true, 
          info: false
       });
    </script>
    <script src="/static/assets/js/getinfo.js"></script>
{% endblock %}
{% block main %}
<div class="row">
   <div class="col-md-12">
      <div class="card">
         <div class="content">
            <h4 class="title">{{data.title}}</h4>
            <div class="toolbar">
            </div>
            <div class="material-datatables">
               <table id="datatables_history" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                  <thead>
                     <tr>
                        <th>Thời gian</th>
                        <th>Số nhận</th>
                        <th>Mô tả</th>
                        <th>Trạng thái</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% if data.history %}
                     {% for item in data.history %}
                     <tr>
                        <td text-center>{{ item.date_added | format_date }}</td>
                        <td text-center>{{ item.amount | format_number}} RL</td>
                        <td>{{ item.detail  }}</td>
                        <td text-center>
                          {% if item.status == 0%}
                            <span text-center style="color: #FF5722">Đang chờ</span>
                          {% endif %}
                          {% if item.status == 1%}
                            <span text-center style="color: #4CAF50">Đã giải quyết</span>
                          {% endif %}
                        </td>
                     </tr>
                     {% endfor %}
                     {% endif %}
                  </tbody>
               </table>
            </div>
         </div>
         <!-- end content-->
      </div>
      <!--  end card  -->
   </div>
   <!-- end col-md-12 -->
</div>
{% endblock %}