{% extends "layout.html" %}
{% block title %}Cây hệ thống | IOT{% endblock %}
{% block css %}
<link href="/static/assets/css/tree.css" rel="stylesheet" >
{% endblock %}
{% block js %}
<script type="text/javascript" src="/static/assets/js/lodash.min.js"></script>
<script src="/static/assets/js/personal.js"></script>
<script src="/static/assets/js/getinfo.js"></script>
{% endblock %}
{% block main %}



<div class="row">
   <div class="col-sm-12">
      
   
    <div class="card" style="box-shadow: none; background: transparent;">
         <div class="content">
            <h4 class="title">Cây hệ thống</h4>
            <div class="toolbar">
               
            </div>
            <div class="main-container content-personal" >
               <div class="accountContent responsive">
                  <div>
                     <ul class="list-unstyled" style="float: left;">
                        <li style="margin-bottom:15px;">
                           <a style="line-height:11px;color: #fff;border-color: #198c9c; background: #198c9c" class="btn btn-default btn-rounded" href="javascript:void(0)" onclick='click_node({{data.uid}})'> <span class="" style="font-weight:700">Đầu tiên</span> </a>
                           <a style="line-height:11px;color: #fff;border-color: #198c9c; background: #198c9c" class="btn btn-default btn-rounded" href="javascript:void(0)" onclick='click_back()'> <span class="" style="font-weight:700">Trở về</span> </a>
                        </li>
                        <li>
                          
            <div class="input-group p-b-10" style=" width: 300px; ">
               <input id="search_tree" class="form-control" name="s_username" type="text" value="" placeholder="Nhập ID đăng nhập">
               <span class="input-group-btn">
               <button id="btnSearchTree"  class="btn btn-social btn-dashboard btnConfirm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button" >Tìm kiếm</button>
               </span>
            </div>
                        </li>
                        <li>
                           <div class="input-group" style=" width: 300px; display: none; ">
                                <input id="search_tree" class="form-control" name="username_tree" type="text" placeholder ="Enter username">
                                <span class="input-group-btn">
                                    <button id="btnSearchTree"  class="btn btn-primary btnConfirm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing" type="button">Search</button>
                                </span>
                            </div>
                        </li>
                     </ul>
                   
                     <div class="clearfix"></div>
                    <!--  <ul class="list-package-invest">
                        <li class="package-0"><span class="background"></span><br/><span>0$</span></li>
                        <li class="package-200"><span class="background"></span><br/><span>200$</span></li>
                        <li class="package-500"><span class="background"></span><br/><span>500$</span></li>
                        <li class="package-1000"><span class="background"></span><br/><span>1.000$</span></li>
                        <li class="package-2000"><span class="background"></span><br/><span>2.000$</span></li>
                        <li class="package-3000"><span class="background"></span><br/><span>3.000$</span></li>
                     </ul> -->
                     <div class="personal-tree text-center" >
                        <!-- <img style="width:50px; margin:70px auto; margin-left:-120px" src="//static/img/ajax-loader.gif" /> -->
                     </div>
                     <input type="hidden" id="uid_customer" value="{{data.uid}}" />
                  </div>
               </div>
            </div>
         </div>
         <!-- end content-->
      </div>
   <!-- end col-md-12 -->
   </div>
</div>

<div id="dataRefferal"></div>
{% endblock %}