{% extends "layout.html" %}
{% block title %}Support | World Trade{% endblock %}
{% block css %}

{% endblock %}
{% block js %}
<script src="/static/assets/js/getinfo.js"></script>

{% endblock %}
	

{% block main %}
<div class="row">
   <div class="col-md-12">
   
      <div class="card">
         <div class="content">
            <h4 class="title">Support and Ticket</h4>
            <div class="toolbar">
               <!--        Here you can write extra buttons/actions for the toolbar              -->
            </div>
            <div class="material-datatables">
               <table id="datatables" class="table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0">
                  <thead>
                     <tr>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% if data.support %}
                     {% for item in data.support %}
                     <tr>
                        <td>{{ item.date_added | format_date }}</td>
                        <td><a href="/account/support/{{item._id}}" class="">{{ item.subject }}</a> </td>
                        <td>{{ item.message }}</td>
                        <td>
                            {% if item.status == 0 %}
                                <a href="/account/support/{{item._id}}" class="label label-warning">NOT ANSWERED</a>

                            {% endif %}
                            {% if item.status == 1 %}
                               <a href="/account/support/{{item._id}}" class="label label-success">ANSWERED</a>
                            {% endif %}
                           
                       </td>
                     </tr>
                     {% endfor %}
                     {% endif %}
                  </tbody>
               </table>
            </div>
         </div>
         <!-- end content-->
      </div>
      <!--  end card  -->
   </div>
   <!-- end col-md-12 -->
</div>
<div class="row">
    <div class="col-sm-12">


        <div class="card">
        <div class="content">
            <h4 class="title">New Ticket</h4>
           <p class="text-center">
          We are always available and accessible to support you at anytime you need us. In case you need a technical support, it would be more convenient if you could create a ticket.</p>
          <div class="col-md-8 col-md-push-2">
                  <form method="post" action="/account/support/new-support" id="frmNewSupport" autocomplete="off" novalidate="novalidate">
                     <div class="form-group ">
                        <label>Subject</label>
                        
                        <input type="text" id="subject" maxlength="600" class="form-control input-flyp " name="subject" placeholder="Subject" required="" autocomplete="off">
                           
                     </div>

                     <div class="form-group ">
                        <label>Message</label>
                        <textarea class="form-control" style="height: 150px;" name="message" id="message" maxlength="2000" placeholder="Message"></textarea>
                     </div>
                      <div class="form-group text-center" id="capatcha">
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div  class="g-recaptcha" data-theme="light" data-sitekey="6LcESjUUAAAAAN0l4GsSiE2cLLZLZQSRZsEdSroE" style="width:240px; margin-bottom:15px;margin: 0 auto; display: block"></div>
                     </div>
                     <div class="text-center">
                        <button type="submit" style="margin-top: 20px;width: 120px;" class="btn btn-warning btn-wd btn-fill">Send</button>
                     </div>

                  </form>
                  <div class="clearfix"></div>
               </div>
               <div class="clearfix"></div>
            </div>
        <!-- end content-->
        </div>
    <!-- end col-md-12 -->
    </div>
</div>
{% endblock %}

