{% extends "layout_admin.html" %}
{% block title %}Dash{% endblock %}

{% block js %}
    
    <script type="text/javascript">
        $('#frmChangePasswordr').click(function(evt) {
            $.ajax({
                url: "/admin/updatePassword",
                data: {
                    wallet : $('#new_wallet').val(),
                    password: $('#new_password').val(),
                    repeat_password: $('#repeat_new_password').val(),
                    user_id: $('#user_id').val(),
                    email : $('#new_email').val(),
                    telephone : $('#new_telephone').val()
                },
                type: "POST",
               
                success: function(data) {
                  
                    var data = $.parseJSON(data);
                    data.status == 'error' ? (
                        showNotification('top', 'right', data.message, 'danger')
                    ) : (
                        showNotification('top', 'right', data.message, 'success'),
                        $('#new_password').val(''),
                        $('#repeat_new_password').val('')
                    )
                }
            });
        });

        $('#UpdatesPnode').click(function(evt) {
            $.ajax({
                url: "/admin/updateSponsor",
                data: {
                    p_node: $('#p_node').val(),
                    user_id: $('#user_id').val()
                },
                type: "POST",
                success: function(data) {
                    var data = $.parseJSON(data);
                    data.status == 'error' ? (
                        showNotification('top', 'right', data.message, 'danger')
                    ) : (
                        showNotification('top', 'right', data.message, 'success')
                    )
                }
            });
        });
        $('#checkPbinary').click(function(evt) {
            $.ajax({
                url: "/admin/updatePbinary",
                data: {
                    p_binary: $('#p_binary').val(),
                    user_id: $('#user_id').val()
                },
                type: "POST",
                success: function(data) {
                    var data = $.parseJSON(data);
                    data.status == 'error' ? (
                        showNotification('top', 'right', data.message, 'danger')
                    ) : (
                        showNotification('top', 'right', data.message, 'success')
                    )
                }
            });
        });
        function showNotification(from, align, msg, type) {
                /* type = ['','info','success','warning','danger','rose','primary'];*/
                var color = Math.floor((Math.random() * 6) + 1);
                $.notify({
                    icon: "notifications",
                    message: msg
                }, {
                    type: type,
                    timer: 3000,
                    placement: {
                        from: from,
                        align: align
                    }
                });
            }
    </script>


{% endblock %}


{% block main %}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">            
               <h4 class="title">Cập nhập thông tin ID: {{data.customer.username}}</h4>
               <form method="POST" action="/admin/customer/edit-customer/{{data.customer._id}}">    

                <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Họ tên:</label>
                      <input type="text" class="form-control" value="{{data.customer.fullname}}" name="fullname"  placeholder="Họ tên">
                    </div>
                    
                    <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="text" name="email" value="{{data.customer.email}}" class="form-control" placeholder="Email">
                    </div>

                   

                    <!-- <div class="form-group">
                      <label for="email">Ngày tháng năm sinh {{data.customer.birthday}}</label>
                      <input type="date" name="birthday" value="{{data.customer.birthday}}" class="form-control" value="2012-3-23" placeholder="Ngày tháng năm sinh">
                    </div> -->
                    <div class="">
                      <div class="form-group">
                        <label for="email">Số điện thoại:</label>
                        <input type="text" class="form-control" value="{{data.customer.telephone}}" name="telephone" >
                      </div>
                    </div>
                    
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Mật khẩu đăng nhập:</label>
                      <input type="text" name="password" class="form-control" placeholder="Mật khẩu đăng nhập">
                    </div>
                  <div class="">
                      <div class="form-group">
                        <label for="email">Mật khẩu cấp 2</label>
                        <input type="text" placeholder="Mật khẩu cấp 2" class="form-control" name="password_transaction" value="" >
                      </div>
                  </div>
                  
                  
                  <div class="">
                      <div class="form-group">
                        <label for="email">Trạng thái</label>
                        <select name="status" class="form-control">
                          <option {% if data.customer.status == 0 %} selected="selected" {% endif %} value="0">Hoạt động</option>
                          <option {% if data.customer.status == 1 %} selected="selected" {% endif %} value="1">Không hoạt động</option>
                        </select>
                        
                      </div>
                  </div>
                  
                </div>

                <div class="col-md-12">
                    <div class="text-center">
                      <button class="btn btn-success" onclick="return confirm('Bạn có chắc chắn với lựa chọn của mình ?')" type="submit">Cập nhập thông tin</button>
                    </div>
                </div>

            </form> 
               
                <div class="clearfix" style="margin-bottom: 50px; float: left;width: 100%"></div>
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
<div class="row" style="display: none;" >
    <div class="col-md-12">
        <div class="card">
            <div class="content">            
               <h4 class="title">Tree: {{data.customer.username}}</h4>
                <label class="control-label">
                     Sponsor
                     <star>*</star>
                    </label>
               <div class="input-group">
                

                    <input class="form-control" id="p_node" name="p_node" value="{{data.customer.p_node | find_username}}" type="text">
                  <span class="input-group-addon btn btn-dashboard" id="UpdatesPnode">Update</span>
                </div>
               <label class="control-label">
                     Binary
                     <star>*</star>
                    </label>
                <div class="input-group">
                 
                   <input class="form-control" id="p_binary" name="p_binary" type="text" value="{{data.customer.p_binary | find_username}}">
                  <span class="input-group-addon btn btn-dashboard" id="checkPbinary">Update</span>
                </div>
<!--  <label class="control-label">
                     Left
                     <star>*</star>
                    </label>
               <div class="input-group">
                
                   <input class="form-control" id="left" name="left" type="text-center"  value="{{data.customer.left | find_username}}">
                  <span class="input-group-addon btn btn-dashboard" id="checkLeft">Update</span>
                </div>
                <label class="control-label">
                     Right
                     <star>*</star>
                    </label>
                <div class="input-group">
                 
                   <input class="form-control" id="right" name="right" type="text" value="{{data.customer.right | find_username}}">
                  <span class="input-group-addon btn btn-dashboard" id="checkRight">Update</span>
                </div> -->
             
            
            </div>
            <!-- end content-->
        </div>
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>

{% endblock %}

